.navBar-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
  z-index: 2;
  background: #f6f0e94d;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0px;
  border-bottom: 1px solid #dfd2c3;
  padding: 1% 3%;
  align-items: center;
}
* {
  display: flex;
  width: fit-content;
  list-style: none;
  gap: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--muted);
}

a {
  color: var(--muted);
  text-decoration: none;
}

.selectedHover {
  color: var(--text-main);
  text-decoration: underline;
  transition: width 0.5s ease; /* speed here */
}

ul {
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .navBar-main {
    justify-content: start !important;
    height: 8% !important;
    font-size: 12px;
  }

  .navBar-main ul {
    display: none !important;
  }
}
