

<div class="container">
  <div>
    <sub> Portfolio of </sub>
    <h1 class="main-title">Mariam Adel</h1>
    <sub class="subtitle-desc"
      >Full stack devloper (Springboot, Go , Angular)
    </sub>

    <p class="text">
      I craft playful, detail-oriented digital experiences – from real-time
      forums and game-like UIs to carefully curated design systems. This space
      is my personal gallery of experiments, case studies, and artful code.
    </p>
  </div>

  <div class="current-main">
    <div class="current-work">
      <div class="outline">
        <h3 class="current-header">current position</h3>
        
        <p class="text" id="period">jul 2025-present</p>

        I’m currently training at the IGA (Information & eGovernment Authority),
        working on the Mawaeed system as a full-stack developer. My role
        includes building the backend using Spring Boot with PostgreSQL,
        developing the front-end in Angular, and integrating authentication with
        AWS Cognito.
      </div>
    </div>
  </div>
</div>
