<div class="container">
  <div>
    <sub> Portfolio of </sub>
    <h1 class="main-title">Mariam Adel</h1>
    <sub class="subtitle-desc"
      >Full-Stack Developer (Spring Boot, Go, Angular)
    </sub>

    <p class="text">
      Aspiring to leverage my computer engineering background and full-stack
      development training to solve real-world problems through innovative
      technology solutions.
    </p>
  </div>

  <div class="current-main">
    <div class="current-work">
      <div class="outline">
        <h3 class="current-header">current position</h3>

        <p class="text" id="period">jul 2025-present</p>

        I am currently training at the Information & eGovernment Authority
        (IGA), working on the Mawaeed system as a full-stack developer. My role
        includes building the backend using Spring Boot with PostgreSQL,
        developing the front end in Angular, and integrating authentication with
        AWS Cognito.
      </div>
    </div>
  </div>
</div>
