.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2%;
  justify-items: center;
  align-items: stretch;
  margin-bottom: 5rem !important;
}

.project-card {
  background-color: var(--card-bg);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.127);
  max-width: 320px;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid var(--border);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.12s ease, box-shadow 0.12s ease,
    border-color 0.12s ease;
  scrollbar-width: none;
}

.project-card::-webkit-scrollbar {
  display: none;
}

.project-pic img {
  max-width: 100%;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.056);
  border-radius: 18px;
  border: 1px solid var(--border);
}

.card-content {
  flex: 1;
}

.project-summary {
  letter-spacing: 2px;
  color: var(--muted);
}

.project-title {
  color: var(--text-main);
  font-family: var(--main-font);
  font-size: clamp(15px, 2vw, 25px);
  margin: 10px 0px;
  font-weight: 700;
}

.project-desc {
  width: 100%;
  margin-bottom: 14px;
  color: var(--text-main);
  line-height: 1.4;
  font-size: 14px;
}

.project-period {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--muted);
}
